:root {
    --primary: black; 
    --secondary: yellow;
    --tertairy: white;
}
body {
    background-color: grey;
}
h3 {
    margin-top: 140px;
}

ul {
    list-style-type: none;
}

li {
    margin: 15px 0;
}
.score-info {
    background: var(--primary);
    padding-left: 20px;
    border-bottom: var(--primary) solid 4px;
}